<div class="flex-container">
  <div class="template-forms card" style="width: 500px">
    <form class="form-group">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="username" [(ngModel)]="Users.username">
      </div>
      <div class="form-group">
        <label>email</label>
        <input type="text" class="form-control" placeholder="Email Address" [(ngModel)]="Users.email">
      </div>
      <div class="form-group">
        <label>password</label>
        <input type="password" class="form-control" placeholder="password" [(ngModel)]="Users.password">
      </div>
      <div class="form-group">
        <label>confirm</label>
        <input type="password" class="form-control" placeholder="confirm password" [(ngModel)]="Users.confirm">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="form-values card" style="width: 500px">

  </div>
</div>