
  <h3 class="text-center">This is the text form fields</h3>
  <div class="flex-container">
    <div class="form-field card flex-container" style="width: 500px;">
        <form class="form-group" [formGroup]="myForm" (ngSubmit)="send()">
            <div class="form-group">
              <label class="center-block">Name:
                <input class="form-control" formControlName="name">
              </label>
            </div>
            <div class="form-group">
              <label class="center-block">Email:
                <input class="form-control" formControlName="email">
              </label>
            </div>
            <div class="form-group">
              <label class="center-block">Password:
                <input class="form-control" formControlName="password">
              </label>
            </div>
            <button class="btn btn-primary">Send</button>
          </form>
    </div>
    <div class="result-field card flex-container" style="width: 500px; color: tomato;">{{myForm.value | json}}</div>
  
</div>